.crypto-logo {
    margin-top: 100px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.crypto-logo, .crypto-logo .crypto-integration-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-logo .crypto-integration-card {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #fff;
    padding: 15px;
    margin-left: 10px;
    margin-top: 50px;
    transition: all .2s;
    box-shadow: 0 50px 50px rgba(0,51,117,.18);
}
.crypto-logo .crypto-integration-card:hover {
    -webkit-animation-name: hvr-bob-float1,hvr-bob1;
    animation-name: hvr-bob-float1,hvr-bob1;
    -webkit-animation-duration: .3s,1.5s;
    animation-duration: .3s,1.5s;
    -webkit-animation-delay: 0s,.3s;
    animation-delay: 0s,.3s;
    -webkit-animation-timing-function: ease-out,ease-in-out;
    animation-timing-function: ease-out,ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal,alternate;
    animation-direction: normal,alternate;
    transform: translateY(-8px);
}
.crypto-logo .crypto-integration-card:nth-child(2), .crypto-logo .crypto-integration-card:nth-child(4), .crypto-logo .crypto-integration-card:nth-child(6), .crypto-logo .crypto-integration-card:nth-child(8), .crypto-logo .crypto-integration-card:nth-child(10), .crypto-logo .crypto-integration-card:nth-child(12), .crypto-logo .crypto-integration-card:nth-child(14), .crypto-logo .crypto-integration-card:nth-child(16) {
    margin-top: -64px;
}