:root{
    /*common colors*/
    --color1:#fff;
    --color2:rgba(14,40,92,.75);
    --color3:#60d493;
    --color4:#ffdf04;

    /*common fonts*/
    --fontSize10: 10px;
    --fontSize12: 12px;
    --fontSizeXs: 13px;
    --fontSizeS: 14px;
    --fontSizeM: 15px;
    --fontSize16:16px;
    --fontSize18:18px;
    --fontSize20:20px;
    --fontSize22:22px;
    --fontSize23:23px;
    --fontSize24:24px;
    --fontSize25:25px;
    --fontSize26:26px;
    --fontSize28:28px;
    --fontSize30:30px;
    --fontSize32:32px;
    --fontSize36:36px;
    --fontSize44:44px;
    --fontSize56:56px;
    --fontSize64:64px;
}